{% extends 'index.html' %}
{% block content %}
<div class="container">
<h2> Hey! Add video to the {{ wallm.title }}</h2>
<form method="POST">
    {% csrf_token %}
    {% load widget_tweaks %}
    {% for field in form %}
        <div class="form-group {% if field.errors %} alert alert-danger {% endif %}" >
        {{ field.errors }}
        {{ field.label_tag }}
        {% render_field field class="form-control" %}
        </div>
    {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>

</form>
</div>
    <br>
<div class="container">
<h2>OR</h2>

<form method="POST">
    {% csrf_token %}
        {% load widget_tweaks %}
{% for field in sform %}
        <div class="form-group {% if field.errors %} alert alert-danger {% endif %}" >
        {{ field.errors }}
        {{ field.label_tag }}
        {% render_field field class="form-control" %}
        </div>
    {% endfor %}

</form>
<div id="search"></div>
<script>
    var timer;
    $('#id_search').keyup(function () {
        clearTimeout(timer);
        $('#search').text("working on it ...");
        delay=setTimeout(function () {
            var text=$('#id_search').val();
            $.ajax({
                url :'/search/',
                data:{
                    'search':text
                },
                dataType:'json',
                success:function (data) {
                    var results='';
                    $('#search').text('');
                    data['items'].forEach(function (video) {
                        results+=video['snippet']['title']

                    });
                    $('#search').append(results);

                }
            } );

        },1000);
    });
</script>
</div>
{% endblock %}