{% extends 'index.html' %}
{% block content %}
<div class="container">
<form method="POST">
    {% csrf_token %}
    {% load widget_tweaks %}
<h2>You Really Wanna Delete This ?,Check Details Before Deleting..</h2>
<h2><a href="{% url 'detail' wall.id %}">Details</a></h2>

    {% for field in form %}
        <div class="form-group {% if field.errors %} alert alert-danger {% endif %}" >
        {{ field.errors }}
        {{ field.label_tag }}
        {% render_field field class="form-control" %}
        </div>
    {% endfor %}
        <button type="submit" class="btn btn-danger">Delete</button>

</form>
</div>


{% endblock %}