
{% extends 'index.html' %}
{% block content %}
<div class="container">
<h1>{{ wall.title }}</h1>
{% if user.id == wall.user.id %}
<h4 class="text-muted">Hello {{ wall.user }}!</h4>
<h4 class="lead">Try to mess with your  {{ wall.title }} PlayList!!</h4>
    {% else %}
    <h4 class="lead text-muted">Created By- {{ wall.user }}!</h4>

{% endif %}



{% if user.id == wall.user.id %}
 <a href="{% url 'add' wall.id %}" class="btn btn-primary">Add Video</a>

{% endif %}

    <div class="row">
      {% for video in wall.videos_set.all %}
      <div class="col-md-4 mt-3">
        <div class="card mb-4 shadow-sm">
          <iframe width="100%" height="225" src="https://www.youtube.com/embed/{{ video.youtube }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
            <p class="card-text">{{ video.title }}</p>
            {% if user.id == wall.user.id %}
            <a href="{% url 'deletevideo' video.id %}" class="btn btn-danger">Delete</a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
      </div>

</div>
{% endblock %}
