{% extends 'index.html' %}
{% block content %}
        <div class="container">
    <div class="jumbotron">
  <h1 class="display-4 text-center">Hello, Beautiful Peoples!</h1>
  <p class="lead text-center">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p class="text-center">It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead text-center">
<a href="{% url 'create' %}" class="btn btn-primary">Create Now!</a>
  </p>
</div>
        <h2 class="text-center">Recent PlayLists!!</h2>
    {% for hall in recent %}
        <h3><a href="{% url 'detail' hall.id %}">{{ hall.title }}</a> </h3>
        <h3 class="lead">Created By- {{ hall.user }}</h3>
    <div class="row">
      {% for content in hall.videos_set.all %}
      <div class="col-md-4 mt-3">
        <div class="card mb-4 shadow-sm">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{ content.youtube }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
            <p class="card-text">{{ content.title }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
      </div>


    {% endfor %}


    </div>
{% endblock %}